<div class="panel row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Dirección:</strong>
        {{customerCtrl.customer.address}}
      </li>
      <li class="list-group-item">
        <strong>Localidad:</strong>
        {{customerCtrl.customer.town}}
      </li>
      <li class="list-group-item">
        <strong>Provincia:</strong>
        {{customerCtrl.customer.city}}
      </li>
      <li class="list-group-item">
        <strong>País:</strong>
        {{customerCtrl.customer.country}}
      </li>
    </ul>
  </div>
</div>
