<!DOCTYPE html>
<html ng-app="mallesti">
<head>
  <title>AngularExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- contenedor -->
  <div class="container">
    <!-- div con el controlador CustomerController -->
    <div ng-controller="CustomerController as customerCtrl">
      <customer-title></customer-title>

      <!-- section con el controlador PanelController -->
      <section ng-controller="PanelController as panelCtrl">
        <!-- nav con los links para las pestañas -->
        <ul class="nav nav-pills">
          <li ng-class="{ active:panelCtrl.isSelected(1) }">
            <a href ng-click="panelCtrl.selectTab(1)">Información</a>
          </li>
          <li ng-class="{ active:panelCtrl.isSelected(2) }">
            <a href ng-click="panelCtrl.selectTab(2)">Proyectos</a>
          </li>
        </ul>
        <!-- divs que tienen que mostrarse dependiendo de la pestaña seleccionada -->
        <!-- div con la toda la información del cliente -->
        <div class="panel row" ng-show="panelCtrl.isSelected(1)">
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Dirección:</strong>
                {{customerCtrl.customer.address}}
              </li>
              <li class="list-group-item">
                <strong>Localidad:</strong>
                {{customerCtrl.customer.town}}
              </li>
              <li class="list-group-item">
                <strong>Provincia:</strong>
                {{customerCtrl.customer.city}}
              </li>
              <li class="list-group-item">
                <strong>País:</strong>
                {{customerCtrl.customer.country}}
              </li>
            </ul>
          </div>
        </div>
        <!-- div con el listado de proyectos -->
        <div class="panel row" ng-show="panelCtrl.isSelected(2)">
          <div class="col-md-6">
            <table class="table">
              <caption>Listado de proyectos</caption>
              <thead>
                <tr>
                  <td>Nombre</td>
                  <td>Descripción</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="project in customerCtrl.customer.projects |orderBy:'name'">
                  <td>{{project.name | uppercase}}</td>
                  <td>{{project.description}}</td>
                </tr>
              </tbody>
            </table>
            <!-- formulario para añadir nuevos proyectos -->
            <form name="projectForm" ng-controller="ProjectFormController as projectFormCtrl"
                  ng-submit="projectFormCtrl.addProject(customerCtrl.customer, projectForm)" novalidate>
              <div class="form-group" ng-class="{ 'has-error' : projectFormCtrl.errors && projectForm.name.$invalid }">
                <label for="projectName">Nombre</label>
                <input ng-model="projectFormCtrl.newProject.name" type="text" class="form-control"
                       name="name" required>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : projectFormCtrl.errors && projectForm.description.$invalid }">
                <label for="projectName">Descripción</label>
                <input ng-model="projectFormCtrl.newProject.description" type="text" class="form-control"
                       name="description" required>
              </div>
              <div class="panel panel-default">
                <div class="panel-body">
                  Nombre: {{projectFormCtrl.newProject.name}}
                </div>
                <div class="panel-body">
                  Descripción: {{projectFormCtrl.newProject.description}}
                </div>
                <div class="panel-body">
                  projectForm is {{projectForm.$valid}}
                </div>
              </div>
              <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
