<!DOCTYPE html>
<html ng-app="mallesti">
<head>
  <title>AngularExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- contenedor -->
  <div class="container">
    <!-- div con el controlador CustomerController -->
    <div ng-controller="CustomerController as customerCtrl">
      <customer-title></customer-title>

      <!-- section con el controlador PanelController -->
      <customer-panels></customer-panels>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
