<!DOCTYPE html>
<html ng-app="mallesti">
<head>
  <title>AngularExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- contenedor -->
  <div class="container" ui-view></div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
