<!DOCTYPE html>
<html ng-app="mallesti">
<head>
  <title>AngularExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container"
    <div ng-controller="CustomerController as customerCtrl">
      <h1>{{customerCtrl.customer.name}}</h1>
      <p>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        {{customerCtrl.customer.email}}
      </p>
      <p>
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        {{customerCtrl.customer.phone}}
      </p>

      <table class="table">
        <caption>Listado de proyectos</caption>
        <thead>
          <tr>
            <td>Nombre</td>
            <td>Descripción</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in customerCtrl.customer.projects">
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
